<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <div>
            <a href="/pokemon/new">Create a New Pokemon</a>
        </div>
        <div>
            <% allPokemon.forEach(function (element,index) { %>
                <a href="/pokemon/<%=index%>">
                    <img src="<%= element.img %>" alt="<%= element.name %>"><br />
                </a>
                <form action="/pokemon/<%=index%>/edit">
                    <input type="submit" value="Edit">
                </form>
                <form action="/pokemon/<%=index%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete">
                </form>
                <% }) %>
        </div>

    </body>

</html>